<div class="flashcard">
    <div class="Q_area">
        <span class="cls_fontfamily cls_fontbold">Question : </span>
        <span class="cls_fontfamily">{{flashcard.question}}</span>
    </div>
    <div class="I_area cls_imagemargin">
        <img class="img-responsive" src="{{flashcard.image}}">
    </div>
    <div class="A_area cls_imagemargin">
        <span class="cls_fontfamily cls_fontbold">Answer : </span>
        <span class="cls_fontfamily">{{flashcard.answer}}</span>
    </div>
</div>