<div class="container">
	<div class="row">
		<div class="col-sm-5 col-md-5"></div>
		<div class="col-sm-7 col-md-7 cls_filterbar">
			{{input value=value
				key-up=(action 'handleFilterEntry')
				class="light"
				id = "search"
				placeholder="Filter By Owner"}}
		</div>
	</div>
	{{yield results}}
</div>
