<div class="row search_question">
    <div class="col-sm-6 row">
        <span class="col-sm-1">Q:</span>
        <div class="question col-sm-10">{{rental.question}}</div>
    </div>
    <div class="col-sm-6 row">
        <span class="col-sm-1">A:</span>
        <div class="answer col-sm-10">
            <span>{{rental.answer}}</span>
            <img class="answer_image" src="{{rental.image}}">
        </div>
    </div>
</div>